#Autotools stuff
.deps
/Makefile
/Makefile.in
/aclocal.m4
/build-stamp
/configure
/config.cache
/config.log
/config.status
/config.guess
/depcomp
/install-sh
/autom4te.cache
/config.h.in
/missing

#/src/csv
/src/csv/Makefile
/src/csv/Makefile.in

#/src/stat
/src/stat/Makefile
/src/stat/Makefile.in

#/src/test
/src/test/Makefile
/src/test/Makefile.in

#/src/ui
/src/ui/Makefile
/src/ui/Makefile.in